* {
    margin: 20px; /* Atur margin secara seragam sebesar 20px pada semua sisi */
    box-sizing: border-box;
    flex-wrap: wrap;
}

header {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    border-bottom: 2px solid #fff; /* Menambahkan garis bawah pada header */
}

.date {
    position: absolute; /* Mengatur posisi absolut untuk tanggal */
    top: 10px; /* Menempatkan tanggal di pojok kanan atas dengan jarak 10px dari tepi atas header */
    right: 10px; /* Menempatkan tanggal di pojok kanan atas dengan jarak 10px dari tepi kanan header */
    font-size: 14px;
    color: black;
}

header h1 {
    .logo {
        width: 80px;
        display: inline-block;
        float: left;
        position: relative;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        z-index: 2;
    }
    text-align: center;
    font-size: 1.5rem;
}

.hr {
    border: 5px;
    font-color: black;
}
body h3 {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 20px; /* Atur jarak antara header dan body di sini */
    padding: 20px;
}

.table-wrapper {
    margin: 0 auto; /* Membuat margin otomatis di sekitar div, membuatnya terletak di tengah halaman */
    width: 50%; /* Atur lebar div sesuai kebutuhan Anda */
}

table {
    width: 100%;
    border-collapse: collapse; /* Menggabungkan batas tabel */
}

th,
td {
    border: 1px solid black; /* Memberikan batas pada sel-sel tabel */
    padding: 8px;
    text-align: center; /* Mengatur teks di sel-sel tabel menjadi tengah */
}
